[Unit]
Description=btrfs balance service

[Service]
Type=simple
ExecStart=/bin/dbus-send --system --print-reply --dest=org.nemomobile.BtrfsBalancer /BtrfsBalancer org.nemomobile.BtrfsBalancer.maintenance int32:75 int32:25

[Install]
WantedBy=btrfs-balancer.timer
