[Unit]
Description=Run btrfs maintenance balancing periodically

[Timer]
OnCalendar=Tue, 3:00
Unit=btrfs-balance.service

[Install]
WantedBy=multi-user.target
