[Unit]
Description=btrfs balancing D-Bus service
After=local-fs.target

[Service]
Type=dbus
BusName=org.nemomobile.BtrfsBalancer
ExecStart=/usr/sbin/btrfs-balancer server
OOMScoreAdjust=-250
