[D-BUS Service]
Interface=org.nemomobile.BtrfsBalancer
Name=org.nemomobile.BtrfsBalancer
Exec=/bin/false
User=root
SystemdService=dbus-org.nemomobile.BtrfsBalancer.service
